/*General */
.grey-background {
    background-color:lightgray;
    }
.main__title{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight:100;
        background-color: brown;
        width: 400px;
        margin: left;
        margin-top: 10px;
        border-width: 2px;
        border-style: solid;
        border-color: brown;
    }
.libra {
        align-items:flex-start;
}
 .red-font {    
     color:brown;
     list-style-type:none;
     display: inline-flex;
     margin: 2px;
     padding: 4px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .text-aligned {
    display: inline-block;
    text-align: start;
    
 }
 .subtext-aligned {
     text-align:center;
 }
 .socialmedia{
     align-items: left;
 } 
/*Index*/
.csjn{
    width: 750px;
    height: 500px;
    border: solid 5px;
    margin-left: 20px;
}
/*Contacto*/
.formulario{
    font-size: 20px;
    margin: 50px;
    padding-left: 7px;
    padding-top: 7px;
    width: 500px;
    height: 500px;
    border: 3px solid brown; 
}
.formulario-texto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 23px;
}
.formulario-colores{
    border-color: brown;
    color: gray;
    margin: 10px;
}
.formulario-nombre{
    border: 2px solid brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:lightgray;
    margin-left: 12px;
}
.formulario-asunto{
    border: 2px solid brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:lightgray;
    margin-left: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.formulario-chekbox{
    border:2px solid brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:grey;
    margin-left: 105px;
    margin-bottom: 10px;
}
.formulario-mail{
    border: 2px solid brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:lightgray;
    margin-left: 53px;
    margin-bottom: 10px;
}
.formulario-mensaje{
    width: 300px;
    height: 240px;
    border: 2px solid brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:lightgray;
    text-align:initial;
    margin-left: 7px;
    margin-bottom: 10px;
}
.boton-enviar{
    border: 2px solid brown;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 200px;
    margin-top: 15px;
    padding: 10px;
}
/*Lista de Abogados*/
.contacto__cuadro{
    line-height: 2.0;
    width: 1500px;
    border: 2px solid brown;
    padding: 5px;
    padding-bottom: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.listado-texto{
    line-height: 1.4;
    font-weight: bold;
    font-size:150%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 37px;
}
